<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
      //Internet access
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodBank"
        tools:ignore="ExtraText"
        tools:targetApi="31">
        <activity
            android:name=".ChangePassword"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".RegisterAsDonor"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Donors"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SimpleDrawerActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DrawerBaseActivity"
            android:exported="false"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Theme.BloodBank" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/AppThemeSplash" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/AppThemeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeSplash" />
    </application>

</manifest>